/* ----------- Colors ---------------------------------- */
// Font Colors
$reach-blue: #0088c7;
$menu-active: #0088c7;
$menu-font: #232323;
$reach-orange: #ffa73d;
// Background colors:

$kti-dark-blue: #002d62;
$kti-light-blue: #e5eaef;
// special colors
$cf7-success-color: white;
$cf7-success-background: #002d62;
/* ----------- end Colors ----------- */
