/* css for table press */

#tablepress-1 { // table 1
  border: 1px solid black;
  margin-bottom: 0px;
}
.tablepress-table-description-id-1 {
  text-align: right;
  font-style: italic;
  padding-right: 8px;
  font-size: .9em;
}
table.tablepress {
  th {
    text-transform: none;
  }
}
